
.app-con{
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: black;
  flex-direction: column;

  font-family: sans-serif;


}

.products-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.product-list-con{
  width: 100vw;
    font-family: sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
  flex-wrap: wrap;
  margin-bottom: 35px;


}
.bag-pack{
  color: #E5DFD9;
  font-size: 17px;
  font-family: sans-serif;

margin-right: 50px;
margin-left: 50px;
letter-spacing: 1px;

}



